
# Ignore Root
/

# Whitelist

# -- Blacklist --

# Build System Outputs
*.o
*.out
*.gch
*.exe
*.pdb
compile_commands*
*.obj
*ilk
*.idb
*.tlog
*.exe.recipie

# Devtool Autogen
TAGS

# Autosave Files
*~
~*

# Directory Blacklist
.*
build
