[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy/
[submodule "external/tachyon_lib"]
	path = external/tachyon_lib
	url = https://github.com/Mallchad/tachyon_lib
